* {
	padding: 0;
	margin: 0;
	font-family: "Itim", monospace;
	}
#hideUIGroup {
	position: fixed;
}
#flowerGeneration {
	padding-left: 5rem;
	padding-right: 5rem;
}

h1 {
	text-align: center;
	padding: .5rem 1rem;
	background: linear-gradient(#aafa, #bbfa);
}

#info {
	/*width: 100%;
	text-align: center;*/
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#info > * {
	margin: 0 .5rem ;
}

#centerer {
	height: 344px;
	width: 100%;
	text-align: center;
}

#floraLists {
	
	display: grid;
	grid-template-rows: 1fr 9fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "eTitle  dTitle"
						 "eList   dList"
						 "dButton eButton";
} 
#enabledFloraLabel {
	grid-area: eTitle;
	text-align: center;
}
#disabledFloraLabel {
	grid-area: dTitle;
	text-align: center;
}
#enabledFLoraList {
	grid-area: eList;
}
#disabledFloraList {
	grid-area: dList;
}
#disableFlora {
	grid-area: dButton;
}
#enableFlora {
	grid-area: eButton;
}

canvas#flower {
	border: ridge .75rem #963;
	display: inline;
}

#description {
	overflow-y:scroll;
	max-height: 45vh;
	background: #fffa;
}

ul {
	list-style: none;
}
li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem 2rem;
}

input[type="number"] {
	width: 2.5rem;
}
input[disabled] {
	color: gray;
}

#stemHue {
	background: hsl(60, 50%, 70%);
}
#stemHueVar {
	background: hsl(100, 50%, 70%);
}
#leafHue {
	background: hsl(60, 50%, 70%);
}
#leafHueVar {
	background: hsl(100, 50%, 70%);
}

#fruitHue {
	background: hsl(300, 50%, 70%);

}
#fruitHueVar {
	background: hsl(360, 50%, 70%);

}

#petalHue {
	background: hsl(300, 50%, 70%);
}
#petalHueVar {
	background: hsl(360, 50%, 70%);
}

#seedHue {
	background: hsl(40, 50%, 70%);
}
#seedHueVar {
	background: hsl(60, 50%, 70%);
}

#leavesControls, #fruitControls {
	display: none;
}

#floraControls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		". save . "
		"stem main deco";
}

#saveFlora {
	grid-area: save;
}

#floraControls h2{
	text-align: center;
	padding: 1rem;
	background: linear-gradient(#aafa, #bbfa);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#floraControls section {
	background: linear-gradient(#beba, #afaa);
	margin: 1rem 2rem;
	border-radius: 10px;
}

#stemControls {
	grid-area: stem;
}
#leavesControls, #petalControls {
	grid-area: main;
}
#fruitControls, #seedControls {
	grid-area: deco;
}

#worldGeneration {
	position: fixed;
	left: 0;
	right: 0;
	width: 100vh;
	height: 100vh;
	z-index: -100;	
}